 <footer class="footer text-center text-white">
      <!-- Grid container -->
      <div class="container mt-4 p-2 pb-0">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i>
          </a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Instagram -->
          <a
            class="insta btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Github -->
          <a
            class="github btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="copyright text-center p-2">
        © 2021 Copyright:
        <a class="text-white">G Power Industries</a>
      </div>
      <!-- Copyright -->
    </footer>