  <div
            class="card shadow mb-5 mx-4 bg-body rounded"
            style="width: 18rem"
          >
            <img
              src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Zm9vZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
              class="card-img-top"
              alt="Meal"
            />
            <div class="card-body text-center">
              <h5 class="card-title search-title">
                Roasted red peppers and tomatoes salad
              </h5>
              <div class="card-text text-start">
                <div>Ready in: 45 minutes</div>
                <div>Servings: 2</div>
              </div>
              <a
                href="/recipes/${meal_id}"
                class="btn btn-primary view-btn mt-3"
                >View</a
              >
              <a
                href="/mealplan/${mealplan_id}"
                class="btn btn-primary add-btn mt-3"
                >Add</a
              >
            </div>
          </div>