<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{! title and description }}
    <title>DishUp || Dashboard</title>
    <meta
      name="description"
      content="DishUp - a quick and easy way to plan your meals!"
    />

    {{! tags for SEO }}
    <link rel="canonical" href="https://blooming-tundra-91244.herokuapp.com/" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DishUp" />
    <meta
      property="og:description"
      content="DishUp - a quick and easy way to plan your meals!"
    />
    <meta property="og:image" content="/assets/images/dishup-logo-bg.png" />
    <meta property="og:image:alt" content="dishup logo" />
    <meta
      property="og:url"
      content="https://blooming-tundra-91244.herokuapp.com/"
    />

    {{! favicon }}
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/assets/images/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    {{! stylesheet links }}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/ae0443040c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/css/background.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/mealPlan.css" rel="stylesheet" type="text/css" />

  </head>
  <body class="d-flex flex-column h-100">
    {{{body}}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="/assets/js/carousel.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/logout.js"></script>
    <script src="/assets/js/mealplan.js"></script>
    <script src="/assets/js/update-meal.js"></script>
    <script src="/assets/js/add-meal.js"></script>
    <script src="/assets/js/viewAllMeals.js"></script>
  </body>
</html>