{{#if isLoggedIn}}
{{>private-navbar}}
{{else}}
{{>public-navbar}}
{{/if}}

<div class="container bg-light mt-5 shadow p-3 mb-5 bg-body rounded">
  <div class="p-4 text-center">
    <h1>Meet the Team</h1>
  </div>

  <div class="row justify-content-center border rounded p-3 m-4 shadow" id="aboutus">
    <div class="col-3">
      <div>
        <img
          src="/assets/images/farah.jpg"
          class="rounded-circle"
          height="150"
          alt="Picture of Farah"
        />
      </div>
    </div>
    <div class="col-7">
      <div>
        <figure class="quote">
          <blockquote>
            <p class="mb-0 mt-2 font-italic">"food"</p>
          </blockquote>
          <figcaption>- - Farah.S.Erban</figcaption>
        </figure>
      </div>
    </div>
  </div>

    <div class="row justify-content-center border rounded p-3 m-4 shadow" id="aboutus">
    <div class="col-3">
      <div>
        <img
          src="/assets/images/farah.jpg"
          class="rounded-circle"
          height="150"
          alt="Picture of Farah"
        />
      </div>
    </div>
    <div class="col-7">
      <div>
        <figure class="quote">
          <blockquote>
            <p class="mb-0 mt-2 font-italic">"food"</p>
          </blockquote>
          <figcaption>- - Farah.S.Erban</figcaption>
        </figure>
      </div>
    </div>
  </div>

    <div class="row justify-content-center border rounded p-3 m-4 shadow" id="aboutus">
    <div class="col-3">
      <div>
        <img
          src="/assets/images/farah.jpg"
          class="rounded-circle"
          height="150"
          alt="Picture of Farah"
        />
      </div>
    </div>
    <div class="col-7">
      <div>
        <figure class="quote">
          <blockquote>
            <p class="mb-0 mt-2 font-italic">"food"</p>
          </blockquote>
          <figcaption>- - Farah.S.Erban</figcaption>
        </figure>
      </div>
    </div>
  </div>

    <div class="row justify-content-center border rounded p-3 m-4 shadow" id="aboutus">
    <div class="col-3">
      <div>
        <img
          src="/assets/images/farah.jpg"
          class="rounded-circle"
          height="150"
          alt="Picture of Farah"
        />
      </div>
    </div>
    <div class="col-7">
      <div>
        <figure class="quote">
          <blockquote>
            <p class="mb-0 mt-2 font-italic">"food"</p>
          </blockquote>
          <figcaption>- - Farah.S.Erban</figcaption>
        </figure>
      </div>
    </div>
  </div>

    <div class="row justify-content-center border rounded p-3 m-4 shadow" id="aboutus">
    <div class="col-3">
      <div>
        <img
          src="/assets/images/farah.jpg"
          class="rounded-circle"
          height="150"
          alt="Picture of Farah"
        />
      </div>
    </div>
    <div class="col-7">
      <div>
        <figure class="quote">
          <blockquote>
            <p class="mb-0 mt-2 font-italic">"food"</p>
          </blockquote>
          <figcaption>- - Farah.S.Erban</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>