{{>private-navbar}}

<main class="main-container flex-shrink-0">
 <div class="container">
     
    <div class="jumbotron text-center">
      <h1 class="display-5 ">Hello {{firstName}}!</h1>
      <p class="lead">Welcome to your dashboard. Get started with a new meal plan below, or check out the ones you have already created!</p>
    </div>

    <div class="row mt-2">
      <div class="col mt-4">
        <div class="form-bg">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-container">
                  <div class="form-icon">
                    <span><i class="fas fa-plus icon-symbol"></i></span>
                  </div>
                  <form id="create-mealplan-form" class="form-horizontal">
                    <h3 class="title">Create a Meal Plan</h3>
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Title"
                        id="title"
                      />
                    </div>
                    <div class="form-group">
                      <textarea
                        type="text"
                        class="form-control"
                        placeholder="Description"
                        id="description"
                      ></textarea>
                    </div>
                    <div class="form-group">
                      <label for="start-date">Start Date:</label>
                      <input type="date" id="start-date" name="start-date" />
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn signup">Let's go!</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       
      <div class="col mt-4">
        <div class="form-bg">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-container">
                  <div class="form-icon">
                    <span><i class="fa fa-file-alt icon-symbol"></i></span>
                  </div>
                  <form  id="select-mealplan-form" class="form-horizontal dishup-form">
                    <h3 class="title">My Meal Plans</h3>
                    {{#if mealPlans}}
                    <div class="form-group">
                      <select
                      id="mealplan-select"
                        class="form-select mb-4"
                        size="6"
                        aria-label="size 3 select example"
                      >
                        
                        {{#each mealPlans}}
                        <option value="{{id}}">{{title}}</option>
                        {{/each}}
                      
                       
                      </select>
                    </div>
                    <div id="alert-div-select"></div>
                    <div class="form-group">
                      <button type="submit" class="btn signup">Let's go!</button>
                    </div>
                  </form>
                     {{else}}

                      <div class="mt-5"><h3>You haven't added any meal plans yet!</h3></div>

                     {{/if}}
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> 
  </main>
<footer class="footer text-center text-white w-100 fixed-bottom">
  <!-- Grid container -->
  <div class="container p-2 pb-0">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a
        class="insta btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-instagram"></i></a>

      <!-- Github -->
      <a
        class="github btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="fab fa-github"></i></a>
    </section>

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright text-center p-2">
    © 2021 Copyright:
    <a class="text-white">G Power Industries</a>
  </div>
  <!-- Copyright -->
</footer>