{{>private-navbar}}

<div class="container">

<div class="text-center my-3 pt-2 pb-1 mealplan-info">
  <h1>{{mealPlan.title}}</h1>
  <p>{{mealPlan.description}}</p>
</div>
  
  <div class="table-responsive">
  <table id="mealPlanTable" class="table table-bordered table-light mt-2 align-middle text-center meal-table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
      <th scope="col">Saturday</th>
      <th scope="col">Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="table-cell" scope="row">Breakfast</th>
      <td class="table-cell"><button data-day="Monday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Tuesday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Wednesday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Thursday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Friday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Saturday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Sunday" data-meal="breakfast" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
    </tr>
    <tr>
      <th class="table-cell" scope="row">Lunch</th>
      <td class="table-cell"><button data-day="Monday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Tuesday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Wednesday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Thursday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Friday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Saturday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
       <td class="table-cell"><button data-day="Sunday" data-meal="lunch" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
    </tr>

    <tr>
      <th class="table-cell" scope="row">Dinner</th>
      <td class="table-cell"><button data-day="Monday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Tuesday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Wednesday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Thursday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Friday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
      <td class="table-cell"><button data-day="Saturday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
       <td class="table-cell"><button data-day="Sunday" data-meal="dinner" class="btn p-3 add-btn" type="button"><i class="fas fa-plus"></i></button></td>
    </tr>
   
  </tbody>
</table>
</div>
</div>

