{{>public-navbar}}

<main class="main-container">
<div class="container">
  <div class="row mt-2">
   <div class="col-md-6 col-sm-9 mx-auto mt-5">
  <div class="form-bg">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-container">
            <div class="form-icon">
              <span><i class="fas fa-user-plus icon-symbol"></i></span>
            </div>
            <form id="signup-form" class="form-horizontal">
              <h3 class="title">JOIN DISH UP</h3>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  id="firstName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  id="lastName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Address"
                  id="email"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  id="password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  id="confirmPassword"
                />
              </div>
              <div id="alert-div"></div>
              <div class="form-group">
                <button type="submit" class="btn signup">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</main>
{{>footer}}