:root {
  --orange: #f36523;
  --green: #8dc73f;
  --blue: #00adef;
  --yellow: #ffc20f;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

body {
  background-image: url("../images/dishup-background-landing-page1.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
}
.main-container {
  min-height: 79vh;
}

#home-navbar {
  background-color: var(--orange) !important;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

.nav-link:hover {
  font-weight: bold !important;
}

#logout-btn {
  font-size: large;
}

.welcome-card {
  background-color: var(--orange);
  color: white;
}

.dashboard-card {
  height: 80%;
  color: white;
  background-color: #f3652388 !important;
}

.dashboard-btn {
  background-color: var(--yellow);
}

.dashboard-btn:hover {
  background-color: #ffc30f5b;
}

.jumbotron {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  font-weight: bold;
}

.jumbotron > h1 {
  font-weight: bold;
}

.empty-meals {
  background-color: #e9ecef !important;
}

.dishup-links {
  color: var(--orange);
  font-weight: bold;
}

.dishup-links:hover {
  color: var(--orange);
  font-weight: bold;
}

.add-btn {
  background-color: var(--green);
  border: none;
  color: white;
}

.add-btn:hover {
  background-color: #8cc73f8e;
  border: none;
}

.add-btn:active {
  background-color: #8cc73f8e;
  border: none;
}

.search-title {
  color: var(--orange);
}

.search-btn {
  background-color: var(--yellow);
  border: none;
}

.search-btn:hover,
.search-btn:active {
  background-color: #ffc30f88;
  border: none;
}

.view-btn {
  background-color: var(--orange);
  border: none;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.view-btn-meals {
  background-color: var(--orange);
  border: none;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.delete-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.view-btn:hover,
.view-btn:active {
  background-color: #f36523af;
  border: none;
}

#no-results-header {
  color: var(--orange);
}

.footer {
  background-color: var(--orange);
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-link:hover {
  background-color: var(--yellow);
}

.image-container {
  background-image: url("https://images.unsplash.com/photo-1463123081488-789f998ac9c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  height: 100vh;
  opacity: 1;
}

.welcome-box {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  mix-blend-mode: screen;
}

.text {
  opacity: 1;
  font-size: 3rem;
  font-weight: bold;
}

.action-text {
  font-weight: bolder;
  font-size: 1.7rem;
}

.landing-link {
  color: black !important;
}

.main-row {
  height: 79vh;
}

#spinner {
  display: none;
}

body.busy .spinner {
  display: block !important;
}

@media screen and (min-height: 1006px) {
  .main-row {
    height: 89vh;
  }
  .about-us,
  .dashboard-row,
  .mealplan-row {
    height: 95vh !important;
  }
}

@media screen and (max-height: 1005px) {
  .dashboard-row {
    height: 95vh;
  }
}

@media screen and (max-height: 750px) {
  .main-row {
    height: 100vh;
  }
  .about-us,
  .dashboard-row,
  .mealplan-row {
    height: fit-content;
  }
}

@media screen and (max-width: 1250px) {
  .image-container,
  .dashboard-row {
    height: fit-content;
  }
}

@media screen and (max-width: 998px) {
  .profile-img {
    height: 100px;
  }
}

@media screen and (max-width: 578px) {
  .quote {
    text-align: center;
  }

  .profile-img-div {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 540px) {
  .landing-video {
    width: 288px;
    height: 165px;
  }

  .instagram-media {
    max-width: 280px !important;
    min-width: 280px !important;
  }
}
