<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/ae0443040c.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="../public/assets/css/home.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../public/assets/css/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../public/assets/css/forms.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Dish Up</title>
  </head>
  <body>
    <nav
      id="home-navbar"
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        d-flex
        justify-content-center
        text-light
      "
    >
      <div class="container-fluid d-flex">
        <a class="navbar-brand px-3 text-light" href="/">DishUp</a>
        <button
          class="navbar-toggler text-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-light"></span>
        </button>
        <div
          class="collapse navbar-collapse flex-grow-0"
          id="navbarTogglerDemo02"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3 text-light">
            <li class="nav-item px-4">
              <a
                class="nav-link active text-light"
                aria-current="page"
                href="/home"
                >Home</a
              >
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link text-light" href="/login">Login</a>
            </li>
            <li class="nav-item px-2 mx-2">
              <a class="nav-link text-light" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid bg-light mt-5">
      <div class="p-4">
        <h1>Find Foods...</h1>
        <form id="meal-search" class="d-flex flex-wrap flex-column">
          <input
            class="form-control form-control-lg mb-3"
            type="text"
            placeholder="Search for tomatoes.."
            aria-label=".form-control-lg example"
            id="search-input"
          />

          <div class="text-center">Select dietary requirements</div>
          <div
            class="btn-group mb-3 flex-wrap"
            id="diet-input"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="glutenFree"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="glutenFree"
              >Gluten Free</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ketogenic"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ketogenic"
              >Ketogenic</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegetarian"
              >Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="lacto-vegetarian"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-success checkbox"
              for="lacto-vegetarian"
              >Lacto-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="ovo-vegetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="ovo-vegetarian"
              >Ovo-Vegetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="vegan"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="vegan"
              >Vegan</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="pescetarian"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="pescetarian"
              >Pescetarian</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="paleo"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="paleo"
              >Paleo</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="primal"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="primal"
              >Primal</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="whole30"
              autocomplete="off"
            />
            <label class="btn btn-outline-success checkbox" for="whole30"
              >Whole30</label
            >
          </div>

          <div class="text-center">Any intolerances?</div>
          <div
            id="intolerance-input"
            class="btn-group mb-3 flex-wrap"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="Dairy"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Dairy">Dairy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Egg"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Egg">Egg</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Gluten"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Gluten">Gluten</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Grain"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Grain">Grain</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Peanut"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Peanut">Peanut</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Seafood"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Seafood">Seafood</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Sesame"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Sesame">Sesame</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Shellfish"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Shellfish"
              >Shellfish</label
            >
            <input
              type="checkbox"
              class="btn-check"
              id="Soy"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Soy">Soy</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Sulfite"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Sulfite">Sulfite</label>
            <input
              type="checkbox"
              class="btn-check"
              id="TreeNut"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="TreeNut">Tree Nut</label>
            <input
              type="checkbox"
              class="btn-check"
              id="Wheat"
              autocomplete="off"
            />
            <label class="btn btn-outline-danger" for="Wheat">Wheat</label>
          </div>
          <button type="submit" class="btn btn-primary btn-lg search-btn">
            Search
          </button>
        </form>
      </div>
      <div class="no-results text-center mb-5">
        <h2>Oops...</h2>
        <div>No results, please try another search term.</div>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <!-- <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                This is a wider card with supporting text below as a natural
                lead-in to additional content. This card has even longer content
                than the first to show that equal height action.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="../public/assets/js/home.js"></script>
    <script src="../public/assets/js/carousel.js"></script>
  </body>
</html>
